
body {
	margin: 0;
}

.l-stack {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.card {
	padding: 4px;
	border: 1px solid #ccc;
}
.card__figure {
	margin: 0;
	width: 200px;
	height: 220px;
	display: flex;
	align-items: center;
}
.card__image {
	width: 100%;
	height: auto;
}

